html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Muli regular";
  src: url("../fonts/Muli-Regular/Muli.eot");
  src: url("../fonts/Muli-Regular/Muli.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Regular/Muli.woff2") format("woff2"), url("../fonts/Muli-Regular/Muli.woff") format("woff"), url("../fonts/Muli-Regular/Muli.ttf") format("truetype"), url("../fonts/Muli-Regular/Muli.svg#Muli") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display regular";
  src: url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KA_LORTKIPANIDZE";
  src: url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.eot");
  src: url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.eot?#iefix") format("embedded-opentype"), url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.woff2") format("woff2"), url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.woff") format("woff"), url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.ttf") format("truetype"), url("../fonts/KA_LORTKIPANIDZE/KA_LORTKIPANIDZE.svg#KA_LORTKIPANIDZE") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .body-div, body header {
  max-width: 1366px;
  width: 100%;
}

body {
  background-image: url(../../img/gress.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
body header {
  max-width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: absolute;
  z-index: 9;
  background-color: #a3c56f;
}
body header .header-logo img {
  max-width: 45px;
  width: 100%;
  max-height: 60px;
  height: 100%;
}
body header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
body header ul li .menu-click {
  font-family: "Muli regular";
}
body .body-div {
  max-width: 60%;
  height: 100%;
  padding: 100px 10px 40px 10px;
  position: absolute;
  z-index: 3;
  background-color: grey;
}

body .team {
  background-image: url(../../img/stadium1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .team .position {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .team .position img {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}
body .team .position .info {
  max-width: 230px;
  width: 100%;
  height: 380px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 12%;
  left: 1%;
  display: none;
}
body .team .position .info .infoimg {
  max-width: 215px;
  width: 100%;
  height: 230px;
  border-radius: 0%;
}
body .team .position .info .playerinfo {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 5px;
  background-color: #ced0d5;
}
body .team .position .info .playerinfo p {
  font-family: "Muli regular";
}
body .team .position .info .playerinfo .birthday {
  font-size: 14px;
}
body .team .position .info6,
body .team .position .info20 {
  max-width: 230px;
}
body .team .position .img1,
body .team .position .img9 {
  margin-right: 15%;
}
body .team .position .img1:hover + .info,
body .team .position .img2:hover + .info,
body .team .position .img3:hover + .info,
body .team .position .img5:hover + .info,
body .team .position .img6:hover + .info,
body .team .position .img7:hover + .info,
body .team .position .img8:hover + .info,
body .team .position .img9:hover + .info,
body .team .position .img10:hover + .info,
body .team .position .img11:hover + .info,
body .team .position .img12:hover + .info,
body .team .position .img14:hover + .info,
body .team .position .img17:hover + .info,
body .team .position .img20:hover + .info,
body .team .position .img33:hover + .info,
body .team .position .img77:hover + .info,
body .team .position .img99:hover + .info,
body .team .position .imgcoach:hover + .info,
body .team .position .imgassistant:hover + .info {
  display: flex;
}
body .team .atack {
  justify-content: center;
}
body .team .gk .gk1 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .team .gk .others {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}