body {
    @extend %body;
    background-image: url(../../img/gress.jpg) ;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    div {
        @extend %width;
        max-width: 60%;
        height: 1500px;
        position: absolute;
        z-index: 1;
        background-color: aqua;
        header {
            @extend %width;
            height: 200px;
            position: absolute;
            z-index: 2;
            background-color: blue;
        }
    }
}
